* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  padding: 12% 0;
}

h1 {
  font-size: 25px;
}

p {
  text-align: left;
  padding: 0 8%;
  font-family: 'Karla', sans-serif;
}

a {
  color: #444;
}

img {
  width: 225px;
  height: 225px;
  border: 1px solid black;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.name {
  float: left;
  margin-left: 15px;
  font-size: 20px;
}

.hamburger-icon {
  float: right;
  margin-right: 15px;
  font-size: 20px;
  line-height: 1.25;
  background-color: #ddd;
  border: 1px solid rgb(95, 105, 97);
  border-radius: 3px;
}

.menu {
  list-style: none;
  margin-top: 35px;
  padding: 0;
  display: none;
}

.menu a {
  text-decoration: none;
  line-height: 1.75;
}

.active {
  display: block;
}