* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  margin: 0;
  background: url(https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav,
footer {
  padding: 5px;
  background-color: black;
  color: rgb(187, 187, 187);
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  font-family: 'Turret Road', cursive;
  font-weight: bold;
  text-align: center;
}

p {
  padding: 0 8%;
  font-family: 'Karla', sans-serif;
}

a {
  color: rgb(187, 187, 187);
}

img {
  width: 225px;
  border: solid 1px black;
  border-radius: 25px;
}

section {
  min-height: 100vh;
  padding: 15px 0;
  background-color: rgb(187, 187, 187, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 5px 0;
}

footer img {
  width: 15px;
  height: 15px;
  margin: 0 2px;
}

section:nth-child(even) {
  background-color: rgb(221, 221, 221, 0.75);
  margin: 150px 0;
  padding: 30px 0;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.name {
  float: left;
  margin: 3px 0 0 15px;
  font-weight: 100;
}

.hamburger-icon {
  float: right;
  margin: 1px 15px 0 0;
  font-size: 15px;
  background-color: rgb(187, 187, 187);
  border: 1px solid rgb(95, 105, 97);
  border-radius: 3px;
}

.menu {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  display: none;
  margin-left: 15px;
}

.menu a {
  text-decoration: none;
  line-height: 1.75;
}

.active {
  display: block;
}

.project-container {
  text-align: center;
}

.nav-links {
  text-decoration: none;
}

#bio img {
  margin: 20px 0;
}

#projects a {
  color: black;
  font-family: 'Karla', sans-serif;
}

@media screen and (min-width: 450px) {
  body {
    font-size: 1.15rem;
  }

  footer {
    font-size: 14px;
  }

  footer img {
    width: 18px;
    height: 18px;
  }

  .hamburger-icon {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  img {
    width: 300px;
  }

  footer {
    font-size: 17px;
  }

  .hamburger-icon {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    margin: 0;
    float: right;
  }

  .menu li {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  img {
    width: 450px;
  }

  footer {
    font-size: 20px;
  }

  footer img {
    width: 20px;
    height: 20px;
  }

  .project-container {
    display: flex;
    align-items: center;
    margin: 0 8%;
  }

  .project-description {
    text-align: left;
  }

  #projects a {
    padding: 0 8%;
  }
}